@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #008080;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.other-actions {
  /* width: ; */
  margin: 5px 20px;
}

.other-actions > button {
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-color: #b0e0e6;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.other-actions > button:hover {
  background-color: #62dbeb;
}

.main {

  width: 70%;
  display: flex;
  border-radius: 5px;
  margin: 5px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 40px 10px 60px 10px;
  background-color: #b0e0e6;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
}

.stack-cnt {
  width: 40%;
  display: flex;
}

.top-pointer {
  width: 20%;
  position: relative;
}

.top-ptr {
  color: #6200ee;
  position: absolute;
  bottom: 10px;
  left: 5px;
  transition: all 200ms linear;
  /* background-color: black; */
}

.stack {
  width: 50%;
  height: 500px;
  border-left: 2px solid #6200ee;
  border-right: 2px solid #6200ee;
  border-top: 2px solid #6200ee;
  border-radius: 5px;
  position: relative;
  padding: 18px;
  overflow-y: auto;
  transform: rotate(180deg);
}

/* control thr scrollbar (tracker + thumb) */
.stack::-webkit-scrollbar {
  width: 4px;
}

/* custumize the track of srollbar */
.stack::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.164);
  border-radius: 5px;
}

/* custumize the track of thumb  */
.stack::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.651);
}

.stack-data {
  transform: rotate(180deg);
  bottom: 0;
  width: 80%;
  height: 50px;
  margin: 10px auto;
  background-color: #6200ee;
  text-align: center;
  color: white;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.stack-size {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.stack-operations-cnt {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.operation-btns {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.operations {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.operations > input[type="button"] {
  width: 30%;
  font-size: 1.6rem;
  padding: 5px 10px;
  border: none;
  border: 2px solid #6200ee;
  color: #6200ee;
  border-radius: 5px;
  background-color: #6300ee02;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.operations > input[type="button"]:hover {
  background-color: #6300eeea;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.opr-result,
.data-input {
  width: 50%;
  text-align: center;
  font-size: 1.6rem;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  font-weight: 600;
}

.data-input {
  font-weight: 600;
  background-color: #ffffff42;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.data-input::placeholder {
  color: rgba(160, 160, 160, 0.726);
  font-weight: 400;
}

.data-input:focus {
  background-color: rgba(80, 80, 80, 0.062);
}

.warning-msg {
  font-size: 1.3rem;
  position: relative;
  top: 25px;
  text-align: center;
}

.warning-msg > div {
  width: 60%;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.warning-msg-success {
  background-color: #339900;
}

.warning-msg-danger {
  background-color: #ff9966;
}


@media screen and (max-width: 768px) {
  .container{
    flex-direction: column;
    display: none;
  }
  .main{
    flex-direction: row;
    width: 100%;
    background-color: greenyellow;
  }
  .stack-cnt{
    width: 100%;
  }

  
}